body: {
	z-index: -5;
	position: absolute;
	height: 100%;
	width: 100%;
}

.card {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: bold;
	font-size: 19.69px;
	display: inline-block;
	position: relative;
	margin: .2em;
	height: 9em;
	width: 6em;
	padding: 0;
	border-radius: .6em;
}

.card .face, .card .back{
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	border: .1em solid #eee;
	border-radius: .6em;
	position: absolute;
	top: 0;
	left: 0;
}

.card .back {
	background-color:silver;
	background-image: 
		radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
		radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
		radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
		radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
		radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
	background-size: 25% 10%;
	z-index: -1;
	display: block;
	transform: rotateY(-180deg);
}

.card *, .card *:before, .card *:after {
	margin: 0;
	padding: 0;
	outline: 0;
	font: inherit;
	color: inherit;
	line-height: inherit;
	box-sizing: border-box;
}

.card .face {
	background-color: #fff;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	z-index: 1;
	top: 0;
}
.spade, .club, .joker.value-l {
	color: #000;
}
.diamond, .heart, .joker.value-b {
	color: #f00;
}
.four-color .diamond {
	color: #00f;
}
.four-color .club {
	color: #0f0;
}

.card input[type="checkbox"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: .6em;
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
	left: 0;
	top: 0;
}

.card label:before, .card label:after, .card input:before, .card input:after{
	position: absolute;
	display: block;
}
.card label:before, .card label:after{
	top: .25em;
	left: .35em;
	right: .35em;
	bottom: .25em;
}

.card .face input:before, .card .face input:after{
	top: 1.25em;
	bottom: 1.25em;
	left: .25em;
	right: .25em;
}

.card label:after,
.card label input:after,
.card label span:after {
	transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg); 
}

.card span {
	position: absolute;
	text-align: center;
	height: 100%;
	width: 100%;
	top: -1em;
	left: 0;
}

.spade .face input:before, .spade .face input:after {
	content: "\2660";
}
.club .face input:before, .club .face input:after {
	content: "\2663";
}
.diamond .face input:before, .diamond .face input:after {
	content: "\2666";
}
.heart .face input:before, .heart .face input:after {
	content: "\2665";
}
.joker label:before, .joker label:after {
	content: "\2605";
}
.value-01 label:before, .value-01 label:after {
	content: "A";
}
.value-02 label:before, .value-02 label:after {
	content: "2";
}
.value-03 label:before,.value-03 label:after {
	content: "3";
}
.value-04 label:before,.value-04 label:after {
	content: "4";
}
.value-05 label:before, .value-05 label:after {
	content: "5";
}
.value-06 label:before,.value-06 label:after {
	content: "6";
}
.value-07 label:before, .value-07 label:after {
	content: "7";
}
.value-08 label:before, .value-08 label:after {
	content: "8";
}
.value-09 label:before,.value-09 label:after {
	content: "9";
}
.value-10 label:before, .value-10 label:after {
	content: "10";
}
.value-11 label:before, .value-11 label:after {
	content: "J";
}
.value-12 label:before, .value-12 label:after {
	content: "Q";
}
.value-13 label:before, .value-13 label:after {
	content: "K";
}

.value-01 span:before {
	font-size: 4em;
	line-height: 2.5em;
	display: block;
}

.value-01.spade span:before {
	content: "\2660";
}
.value-01.club span:before {
	content: "\2663";
}
.value-01.diamond span:before {
	content: "\2666";
}
.value-01.heart span:before {
	content: "\2665";
}

.value-02 span:before,
.value-02 span:after,
.value-03 span:before,
.value-03 span:after,
.value-04 span:before,
.value-04 span:after,
.value-05 span:before,
.value-05 span:after,
.value-06 span:before,
.value-06 span:after,
.value-07 span:before,
.value-07 span:after,
.value-08 span:before,
.value-08 span:after,
.value-09 span:before,
.value-09 span:after,
.value-10 span:before,
.value-10 span:after,
.value-11 span:before,
.value-11 span:after,
.value-12 span:before,
.value-12 span:after,
.value-13 span:before,
.value-13 span:after {
	font-size: 2em;
	line-height: 2.75em;
	display: block;
}

.value-02.spade span:before, .value-02.spade span:after {
	content: "\2660";
}
.value-02.club span:before, .value-02.club span:after {
	content: "\2663";
}
.value-02.diamond span:before, .value-02.diamond span:after {
	content: "\2666";
}
.value-02.heart span:before, .value-02.heart span:after {
	content: "\2665";
}

.value-03 span:nth-of-type(2):before,
.value-05 span:nth-of-type(2):before,
.value-06 span:nth-of-type(2):before,
.value-07 span:nth-of-type(2):before,
.value-08 span:nth-of-type(2):before {
	line-height: 5.25em;
}

.value-03.spade span:before, .value-03.spade span:after {
	content: "\2660";
}
.value-03.club span:before, .value-03.club span:after {
	content: "\2663";
}
.value-03.diamond span:before, .value-03.diamond span:after {
	content: "\2666";
}
.value-03.heart span:before, .value-03.heart span:after {
	content: "\2665";
}

.value-03 span:nth-of-type(2):after {
	content: "";
}

.value-04.spade span:before,
.value-04.spade span:after,
.value-05.spade span:before,
.value-05.spade span:after,
.value-06.spade span:before,
.value-06.spade span:after,
.value-07.spade span:before,
.value-07.spade span:after,
.value-08.spade span:before,
.value-08.spade span:after,
.value-09.spade span:before,
.value-09.spade span:after,
.value-10.spade span:before,
.value-10.spade span:after {
	content: "\2660\2002\2660";
}
.value-04.club span:before,
.value-04.club span:after,
.value-05.club span:before,
.value-05.club span:after,
.value-06.club span:before,
.value-06.club span:after,
.value-07.club span:before,
.value-07.club span:after,
.value-08.club span:before,
.value-08.club span:after,
.value-09.club span:before,
.value-09.club span:after,
.value-10.club span:before,
.value-10.club span:after {
	content: "\2663\2002\2663";
}
.value-04.diamond span:before,
.value-04.diamond span:after,
.value-05.diamond span:before,
.value-05.diamond span:after,
.value-06.diamond span:before,
.value-06.diamond span:after,
.value-07.diamond span:before,
.value-07.diamond span:after,
.value-08.diamond span:before,
.value-08.diamond span:after,
.value-09.diamond span:before,
.value-09.diamond span:after,
.value-10.diamond span:before,
.value-10.diamond span:after {
	content: "\2666\2002\2666";
}
.value-04.heart span:before,
.value-04.heart span:after,
.value-05.heart span:before,
.value-05.heart span:after,
.value-06.heart span:before,
.value-06.heart span:after,
.value-07.heart span:before,
.value-07.heart span:after,
.value-08.heart span:before,
.value-08.heart span:after,
.value-09.heart span:before,
.value-09.heart span:after,
.value-10.heart span:before,
.value-10.heart span:after {
	content: "\2665\2002\2665";
}

.value-05.spade span:nth-of-type(2):before {
	content: "\2660";
}
.value-05.club span:nth-of-type(2):before {
	content: "\2663";
}
.value-05.diamond span:nth-of-type(2):before {
	content: "\2666";
}
.value-05.heart span:nth-of-type(2):before {
	content: "\2665";
}

.value-05 span:nth-of-type(2):after {
	content: "";
}

.value-06 span:nth-of-type(2):after {
	content: "";
}

.value-07 span:nth-of-type(3):before,
.value-08 span:nth-of-type(3):before,
.value-08 span:nth-of-type(3):after {
	margin-top: 2em;
	margin-bottom: -.5em;
	line-height: 0em;
}

.value-07.spade span:nth-of-type(3):before {
	content: "\2660";
}
.value-07.club span:nth-of-type(3):before {
	content: "\2663";
}
.value-07.diamond span:nth-of-type(3):before {
	content: "\2666";
}
.value-07.heart span:nth-of-type(3):before {
	content: "\2665";
}

.value-07 span:nth-of-type(2):after,
.value-07 span:nth-of-type(3):after {
	content: "";
}

.value-08.spade span:nth-of-type(3):before, .value-08.spade span:nth-of-type(3):after {
	content: "\2660";
}
.value-08.club span:nth-of-type(3):before, .value-08.club span:nth-of-type(3):after {
	content: "\2663";
}
.value-08.diamond span:nth-of-type(3):before, .value-08.diamond span:nth-of-type(3):after {
	content: "\2666";
}
.value-08.heart span:nth-of-type(3):before, .value-08.heart span:nth-of-type(3):after {
	content: "\2665";
}

.value-08 span:nth-of-type(2):after	{
	content: "";
}

.value-09 span:nth-of-type(2):before,
.value-09 span:nth-of-type(2):after,
.value-10 span:nth-of-type(2):before,
.value-10 span:nth-of-type(2):after {
	margin-top: 2.15em;
	margin-bottom: -1.05em;
	line-height: 0.05em;
}
.value-09 span:nth-of-type(3):after,
.value-09 span:nth-of-type(3):before,
.value-10 span:nth-of-type(3):after,
.value-10 span:nth-of-type(3):before {
	margin-top: .85em;
	line-height: 1em;
}

.value-09 span:nth-of-type(3):before {
	line-height: 3.7em;
}

.value-09.spade span:nth-of-type(3):before {
	content: "\2660";
}
.value-09.club span:nth-of-type(3):before {
	content: "\2663";
}
.value-09.diamond span:nth-of-type(3):before {
	content: "\2666";
}
.value-09.heart span:nth-of-type(3):before {
	content: "\2665";
}

.value-09 span:nth-of-type(3):after {
	content: "";
}

.value-10 span:nth-of-type(3):before, .value-10 span:nth-of-type(3):after {
	margin-top: 1.5em;
	line-height: .455em;
}

.value-10.spade span:nth-of-type(3):before, .value-10.spade span:nth-of-type(3):after {
	content: "\2660";
}
.value-10.club span:nth-of-type(3):before, .value-10.club span:nth-of-type(3):after {
	content: "\2663";
}
.value-10.diamond span:nth-of-type(3):before, .value-10.diamond span:nth-of-type(3):after {
	content: "\2666";
}
.value-10.heart span:nth-of-type(3):before, .value-10.heart span:nth-of-type(3):after {
	content: "\2665";
}

.value-11 span:nth-of-type(1),
.value-12 span:nth-of-type(1),
.value-13 span:nth-of-type(1) {
	border: 1px solid #ccc;
	border-radius: .3em;
	width: 4em;
	height: 6.4em;
	top: 1.3em;
	left: 1em;
}
.value-11 span:nth-of-type(1):before,
.value-11 span:nth-of-type(1):after,
.value-12 span:nth-of-type(1):before,
.value-12 span:nth-of-type(1):after,
.value-13 span:nth-of-type(1):before,
.value-13 span:nth-of-type(1):after {
	text-align: left;
	height: 100%;
	width: 100%;
	line-height: .65em;
	position: absolute;
}

.value-11.spade span:nth-of-type(1):before,
.value-11.spade span:nth-of-type(1):after,
.value-12.spade span:nth-of-type(1):before,
.value-12.spade span:nth-of-type(1):after,
.value-13.spade span:nth-of-type(1):before,
.value-13.spade span:nth-of-type(1):after {
	content: "\2660";
}
.value-11.spade span:nth-of-type(1) {
	background-image: url("facecards/spade-jack.svg");
}
.value-12.spade span:nth-of-type(1) {
	background-image: url("facecards/spade-queen.svg");
}
.value-13.spade span:nth-of-type(1) {
	background-image: url("facecards/spade-king.svg");
}

.value-11.club span:nth-of-type(1):before,
.value-11.club span:nth-of-type(1):after,
.value-12.club span:nth-of-type(1):before,
.value-12.club span:nth-of-type(1):after,
.value-13.club span:nth-of-type(1):before,
.value-13.club span:nth-of-type(1):after {
	content: "\2663";
}
.value-11.club span:nth-of-type(1) {
	background-image: url("facecards/club-jack.svg");
}
.value-12.club span:nth-of-type(1) {
	background-image: url("facecards/club-queen.svg");
}
.value-13.club span:nth-of-type(1) {
	background-image: url("facecards/club-king.svg");
}

.value-11.diamond span:nth-of-type(1):before,
.value-11.diamond span:nth-of-type(1):after,
.value-12.diamond span:nth-of-type(1):before,
.value-12.diamond span:nth-of-type(1):after,
.value-13.diamond span:nth-of-type(1):before,
.value-13.diamond span:nth-of-type(1):after {
	content: "\2666";
}
.value-11.diamond span:nth-of-type(1) {
	background-image: url("facecards/diamond-jack.svg");
}
.value-12.diamond span:nth-of-type(1) {
	background-image: url("facecards/diamond-queen.svg");
}
.value-13.diamond span:nth-of-type(1) {
	background-image: url("facecards/diamond-king.svg");
}

.value-11.heart span:nth-of-type(1):before,
.value-11.heart span:nth-of-type(1):after,
.value-12.heart span:nth-of-type(1):before,
.value-12.heart span:nth-of-type(1):after,
.value-13.heart span:nth-of-type(1):before,
.value-13.heart span:nth-of-type(1):after {
	content: "\2665";
}
.value-11.heart span:nth-of-type(1) {
	background-image: url("facecards/heart-jack.svg");
}
.value-12.heart span:nth-of-type(1) {
	background-image: url("facecards/heart-queen.svg");
}
.value-13.heart span:nth-of-type(1) {
	background-image: url("facecards/heart-king.svg");
}
